<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== FAVICON ===============-->
    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/icond.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--=============== BOXICONS ===============-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper-bundle.min.css') }}">
    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <title>Model Selection</title>
    <style>
    </style>
    <body>
        <!--=============== HEADER ===============-->
        
        <header class="header" id="header">
            <nav class="nav container">
                <a href="{{ url_for('main.panel') }}" class="nav__logo">IntelliForge</a>
                
                </div>
                <!-- Change Theme Color -->
                <i class='bx bx-moon change-theme' id="theme-button"></i>
            </nav>
        </header>

        <main class="main">
            <!--=============== HOME ===============-->
            <section class="home section" id="home">
                <div class="home__container container grid">
                    <section class="form section" id="form">
                        <span class="section__subtitle">Step 1 of 4: Model Selection</span>
                        <h2 class="section__title">Select a Language Model</h2>

                        <div class="work__filters">
                            <!-- <span class="work__item mixitup-control-active active-work" data-filter="all">All</span> -->
                            
                            <span class="work__item {% if rag.model_type == 'GROQ' or not rag.model_type %}mixitup-control-active active-work{% endif %}" data-filter=".form-a">Groq</span>
                            <span class="work__item {% if rag.model_type == 'Ollama' %}mixitup-control-active active-work{% endif %}" data-filter=".form-b">Ollama</span>
                            <span class="work__item {% if rag.model_type == 'ChatGPT' %}mixitup-control-active active-work{% endif %}" data-filter=".form-c">Open AI</span>
                            <span class="work__item {% if rag.model_type == 'GitHub' %}mixitup-control-active active-work{% endif %}" data-filter=".form-d">GitHub</span>
                        </div>

                        <div class="form__container container">

                            <div class="form__section mix form-contact form-a">
                                <section class="contact section" id="contact">
                                    <h2 class="section__title">Groq</h2>
                        
                                    <div class="contact__container container grid" >
                                        <div class="contact__content">
                                            <form action="{{ url_for('rag_creator.model_selection', rag_id=rag.id) }}" method="POST" class="contact__form">
                                                <input type="hidden" name="model_type" value="GROQ">
                                                <div class="contact__form-div">
                                                    <label for="api_key">API KEY:</label>
                                                    <input type="password" name="api_key" id="api_key" required value={% if rag.api_key and rag.model_type == "GROQ" %}{{rag.api_key}}{% endif %}>
                                                </div>
                                                <div class="contact__form-div">
                                                    <label for="model_name">Model Name:</label>
                                                    <input type="text" name="model_name" id="model_name" required value={% if rag.model_name and rag.model_type == "GROQ" %}{{rag.model_name}}{% endif %}>
                                                </div>
                                                <button style="width: 100%;" type="submit" class="button">Next Step</button>
                                            </form>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="form__section mix form-contact form-b">
                                <section class="contact section" id="contact">
                                    <h2 class="section__title">Ollama</h2>
                        
                                    <div class="contact__container container grid" >
                                        <div class="contact__content">
                                            <form action="{{ url_for('rag_creator.model_selection', rag_id=rag.id) }}" method="POST" class="contact__form">
                                                <input type="hidden" name="model_type" value="Ollama">
                                                <div class="contact__form-div">
                                                    <label for="model_name">Model Name</label>
                                                    <select name="model_name" id="model_name" required>
                                                        {% for model in ollama_name %}
                                                            <option value="{{ model }}" {% if rag.model_name == model and rag.model_type == "Ollama" %}selected{% endif %}>{{ model }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <button style="width: 100%;" type="submit" class="button">Next Step</button>
                                            </form>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="form__section mix form-contact form-c">
                                <section class="contact section" id="contact">
                                    <h2 class="section__title">OpenAI</h2>
                        
                                    <div class="contact__container container grid" >
                                        <div class="contact__content">
                                            <form action="{{ url_for('rag_creator.model_selection', rag_id=rag.id) }}" method="POST" class="contact__form">
                                                <input type="hidden" name="model_type" value="ChatGPT">
                                                <div class="contact__form-div">
                                                    <label for="api_key">API KEY:</label>
                                                    <input type="text" name="api_key" id="api_key" required>
                                                </div>
                                                <div class="contact__form-div">
                                                    <label for="model_name">Model Name:</label>
                                                    <input type="text" name="model_name" id="model_name" required>
                                                </div>
                                                <button style="width: 100%;" type="submit" class="button">Next Step</button>
                                            </form>
                                        </div>
                                    </div>
                                </section>
                            </div>      
                            <div class="form__section mix form-contact form-d">
                                <section class="contact section" id="contact">
                                    <h2 class="section__title">GitHub Models</h2>
                        
                                    <div class="contact__container container grid" >
                                        <div class="contact__content">
                                            <form action="{{ url_for('rag_creator.model_selection', rag_id=rag.id) }}" method="POST" class="contact__form">
                                                <input type="hidden" name="model_type" value="GitHub">
                                                <div class="contact__form-div">
                                                    <label for="api_key">API KEY:</label>
                                                    <input type="text" name="api_key" id="api_key" required>
                                                </div>
                                                <div class="contact__form-div">
                                                    <label for="model_name">Model Name:</label>
                                                    <input type="text" name="model_name" id="model_name" required>
                                                </div>
                                                <button style="width: 100%;" type="submit" class="button">Next Step</button>
                                            </form>
                                        </div>
                                    </div>
                                </section>
                            </div>      
                        </div>
                    </section>
                </div>
            </section>
            
        <div class="work__container container grid" id="MixItUp41FB2B" style="">    
        </main>
        
        <!--=============== SCROLLREVEAL ===============-->
        <script src="{{ url_for('static', filename='js/scrollreveal.min.js') }}"></script>

        <!--=============== SWIPER JS ===============-->
        <script src="{{ url_for('static', filename='js/swiper-bundle.min.js') }}"></script>
    
        <!--=============== MIXITUP FILTER ===============-->
        <script src="{{ url_for('static', filename='js/mixitup.min.js') }}"></script>
    
        <!--=============== MAIN JS ===============-->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        
    </body>
</html>